.logo {
  position: relative;
  top: 2px;
}

.navbar {
  background-color: black !important  ;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-right{
    margin-right: 20px;
}
li{
  color: white;
  cursor: pointer;
}

a{
    color: #9d9d9d;
    font-size: 18px;
}


a:hover{
    color: white;
    font-weight: 600;
}

