.achievements-modal-outer-container {
    color: black;
    width: 90%;
    margin: 0 auto;
}
.achievements-title {
    padding-top: 50px;
}

@media only screen and(max-width: 600px) {
    .achievements-title {
        margin-top: 10% !important;
    }
}

table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-collapse: collapse;
}

thead {
    background-color: black !important;
    color: white;
}

th,
td {
    padding: 5px 30px;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

tbody > tr:nth-child(odd) {
    background-color: white;
}

tbody > tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}
